Dockerfile
.vscode/
.idea
.gitignore
LICENSE
README.md
frontend/node_modules/
frontend/build
.svelte-kit/
.env*
!.env
.env.local
backend/.venv
backend/__pycache__
akash.yaml
akash-cpu.yaml
